* {
	font-family: 'Raleway', Arial, Helvetica;
	box-sizing: border-box;
}

.main {
	margin: auto;
	max-width: 1440px;
}

a {
	text-decoration: none;
}

h2 {
	font-weight: bold;
}

/* -------------------------------Header---------------------------------- */

.navbar__navlink {
	color: black;
	padding: 16px 16px 0;
	font-size: 16px;
}


.header__logo {
	width: 96px;
}


/* --------------------SearchBar----------------------*/

.searchbar {
	margin-top: 29px;
}

.searchbar__form {
	display: inline-flex;
	max-width: 100%;
}

.searchbar__title {
	font-size: 24px;
}

.searchbar__text {
	font-size: 14px;
	margin-bottom: 29px;
}

.form__icon {
	background-color: #f2f2f2;
	border-radius: 16px 0 0 16px;
	padding: 16px 21px;
}

.form__search {
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #f2f2f2;
	border-top: 1px solid #f2f2f2;
	height: 51px;
	width: 256px;
	font-size: 16px;
	color: black;
	font-weight: bolder;
	padding-left: 13px;
	outline: none;
	overflow: hidden;
}

.form__search::placeholder {
	font-weight: bold;
	color: black;
}

.form__button {
	background-color: #0065fc;
	color: white;
	border: 1px solid #0065fc;
	cursor: pointer;
}

.form__text {
	padding-left: 13px;
}


/* ------------------Filters -----------------------*/

.filter {
	display: flex;
	flex-wrap: wrap;
	margin-top: 48px;
}

.filter__container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.filter__text {
	font-size: 19px;
	display: flex;
	align-items: center;
}

.filter__box {
	display: flex;
	align-items: center;
	margin-left: 48px;
	border: 3px solid #f2f2f2;
	border-radius: 32px;
	border-left: none;
	cursor: pointer;
	transition: transform 0.7s;
}

.filter__box:hover {
	transform: rotate(360deg);
	transform: scale(1.2);
	background-color: #f2f2f2;
}

.filter__img {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #deebff;
	color: #0065fc;
	border-radius: 100%;
	width: 48px;
	height: 48px;
}

.filter__title {
	font-weight: bolder;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 16px;
	padding-right: 19px;
}

.info {
	display: flex;
	align-items: center;
	margin-top: 48px;
}

.info__img {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #0065fc;
	border: 1px #f2f2f2 solid;
	border-radius: 100%;
	width: 37px;
	height: 37px;
	margin-right: 16px;
}


/*-------------------- Accomodation and Popular ------------------*/

.maincontainer {
	display: flex;
	margin-top: 25px;
}

.card__container--accomodation:hover, .card__container--pop:hover {
	transform: scale(1.05);
	box-shadow: 0 0 50px rgb(119, 119, 119);
}

.star__full {
	color: #0065fc;
	font-size: 14px;
}

.star__empty {
	color: rgb(211, 211, 211);
	font-size: 14px;
}

.eur {
	font-weight: bold;
	font-size: 15px;
}


/*----------------------Accommodation-----------------------*/

.accommodation {
	background-color: #f2f2f2;
	border-radius: 16px;
	width: 66.5%;
	height: 625px;
	margin-right: 40px;
	margin-top: auto;
}

.accommodation__container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-left: 40px;
	margin-right: 40px;
}

.accommodation__title {
	display: flex;
	margin: 45px 0 25px 40px;
}

.card__container--accomodation {
	background-color: white;
	box-sizing: border-box;
	padding: 5px;
	box-shadow: 0 0 20px rgb(167, 166, 166);
	border-radius: 15px;
	transition: 0.7s;
	width: 30%;
	min-height: 199px;
	margin-bottom: 31px;
}

.card__header {
	height: 114px;
	width: 100%;
}

.card__img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 16px 16px 0 0;
}

.card__body {
	margin-left: 12px;
	margin-top: -10px;
	color: black;
}

.card__title {
	font-size: 17px;
}

.card__text {
	font-size: 15px;
	margin-top: -12px;
}

.card__footer {
	margin-left: 12px;
}

.card__price--bold {
	font-weight: bold;
}

.viewmore {
	margin-left: 40px;
	font-size: 18px;
}



/* --------------------------- Popular ----------------------------*/
.popular {
	background-color: #f2f2f2;
	border-radius: 16px;
	width: 33.5%;
	height: 625px;
}

.popular__container {
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.popular__title {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 45px;
	margin-bottom: 25px;
}

.card__container--pop {
	display: flex;
	background-color: white;
	box-sizing: border-box;
	padding: 5px;
	box-shadow: 0 0 20px rgb(167, 166, 166);
	border-radius: 15px;
	transition: 0.7s;
	margin: 0 40px 33px 40px;
	max-width: 100%;
	min-height: 144px;
}

.cardpop {
	display: flex;
	position: relative;
}

.cardpop__header {
	position: relative;
	width: 127px;
	height: 100%;
}

.cardpop__img {
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 16px 0 0 16px;
}

.cardpop__body {
	color: black;
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	margin-top: -5px;
}

.cardpop__title {
	font-size: 17px;
}

.cardpop__text {
	margin-top: -10px;
	font-size: 15px;
	margin-bottom: 18px;
}

.cardpop__footer {
	position: absolute;
	bottom: 3px
}

.viewmore {
	color: black;
	font-weight: bold;
}



/*--------------------Activity------------------------*/

.mainactivity {
	width: 100%;
	height: auto;
	margin: 60px 0 60px 0;
}

.activity {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.activity img {
	object-fit: cover;
}

.activity__big {
	width: 25%;
	margin-right: 40px;
}

.activity__big:nth-child(4) {
	margin-right: 0;
}

.activity__img--big {
	height: 400px;
} 

.activity__two {
	margin-bottom: 50px;
}

.activity__img--2 {
	height: 180px;
}

.activity__img--3 {
	height: 110px;
}

.activity__five {
	margin-bottom: 45px;
}

.activity__img--5 {
	height: 140px;
}

.activity__img--6 {
	height: 155px;
}

.activity__card {
	color: black;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	border-radius: 16px;
	box-shadow: 0 0 20px rgb(167, 166, 166);
	transition: 0.7s;
} 


.activity__card:hover {
	transform: scale(1.1);
	box-shadow: 0 0 50px rgb(119, 119, 119);
}

.activity__place {
	margin-left: 16px;
	display: flex;
	flex-wrap: wrap;
} 


/*---------------------FOOTER-------------------------*/

footer {
	background-color: #f2f2f2;
}

.footer__links {
	margin: 16px 0;    
	display: flex;
	flex-direction: column;
	width: 35%;
}

.footer__link {
	padding-bottom: 16px;
	cursor: pointer;
}

.footer__title {
	font-weight: bold;
	font-size: 18px;
}



/*--------------------------RESPONSIVE-----------------------------*/


/*---------------------Header Responsive big screen-----------------*/
@media all and (min-width: 768px) {
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 37px;
	}

	.navbar__navlink:hover {
		padding-top: 48px;
		color: #0065fc;
		border-top: 3px solid #0065fc;
	}
}


/*---------------- Header Responsive Mobile------------------ */

@media all and (max-width: 768px) {

	header {
		display: flex;
		flex-wrap: wrap;
	}

	.test {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	.navbar {
		width: 100%;
		display: flex;
		margin-top: 16px;
	}

	.navbar__navlink {
		display: flex;
		justify-content: space-around;
		width: 100%;
		padding-bottom: 16px;
		border-bottom: #f2f2f2 3px solid;
	}

	.navbar__navlink:hover {
		border-bottom-color: #0065fc;
		border-top: none;
	}
}


/* ----------------------------SEARCHBAR------------------------------ */

/*----------------SearchBar Responsive tablet + pc --------------*/

@media all and (min-width: 768px) {
	.form__button {
		border-radius: 0 16px 16px 0;
		height: 51px;
		font-size: 16px;
		font-weight: bold;
	}

	.form__img {
		visibility: hidden;
	}
}

@media all and (max-width: 768px) {
	.form__text {
		visibility: hidden;
	}

	.form__img {
		visibility: visible;
		display: flex;
		justify-content: center;
		padding-bottom: 32px;
		font-size: 16px;
	}

	.form__button {
		width: 48px;
		height: 48px;
		border-radius: 16px;
	}
}


/* -----------------------FILTERS----------------------------- */

@media all and (max-width: 992px) {
	.filter__box {
		margin: 8px;
	}
	.filter__text {
		width: 100%;
	}
}


/*------------------ ACCOMODATION AND POPULAR----------------*/

@media all and (max-width: 992px) {
	.maincontainer {
		flex-direction: column-reverse;
	}
}




/*-----------------------POPULAR--------------------------*/

/*----------------Popular Responsive Tablet + Mobile---------- */

@media all and (max-width: 992px) {
	.popular {
		width: 100%;
	}

	.card__container--pop {
		margin: 0 15px 20px 15px ;
	}
}


/*----------------------------ACCOMODATION---------------------------*/

/*---------------Accomodation responsive Tablet--------------*/

@media all and (max-width: 992px) {
	.accommodation {
		background-color: white;
		width: 100%;
		height: auto;
		margin-right: auto;
	}
	.accommodation__title {
		margin-left: 5px;
	}
	.viewmore {
		margin-left: 5px;
	}
	
}

/*---------------Accomodation responsive Mobile--------------*/
@media all and (max-width: 768px) {
	.accommodation__container {
		display: flex;
		flex-direction: column;
		margin-left: 5px;
		margin-right: 5px;
	}
	.card__container--accomodation {
		width: 100%;
	}
}


/*-------------------------ACTIVITY-------------------------*/

/*-------------Activity Responsive Tablet ---------------*/

@media all and (max-width: 992px) {

	.mainactivity {
		padding: 5px;
	}
	.activity {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.activity__big {
		width: 100%;
		margin: auto;
	}

	.activity__card {
		margin-bottom: 20px;
	}

	.activity__big img{
		height: 200px;
	}

	.activity__five {
		margin-bottom: 20px;
	}

	.activity__two {
		margin-bottom: 20px;
	}
}


/*-----------------------FOOTER------------------*/

/*--------------Footer Responsive Tablet and Pc -------------*/

@media all and (min-width: 992px) {
	footer {
		margin-top: 48px;
	}

	.footer__container {
		display: flex;
		justify-content: flex-start;
		max-width: 1440px;
		margin: 0 auto;
	}
}


/*-----------------Footer Responsive Mobile ---------------*/

@media all and (max-width: 992px) {
	footer {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-left: 16px;
		margin-top: 48px;
	}

	.footer__links {
		margin: 20px;
		width: 100%;
	}
}